<div class="sub-card">
    <div class="flex justify-between pb-4 items-center">
        <h2 class="sub-card-title">Services</h2>
        <app-button (btnClick)="openModal('create-service')" [size]="'sm'">
            New Service
        </app-button>
    </div>

    <div class="max-w-full">
        @if (loading()) {
        <app-placeholder></app-placeholder>
        } @else {
        @if (error() && error()!.action == 'list') {
        <p class="text-red-600">
            Error loading services: {{ error()!.message }}
        </p>
        } @else {

        @if (services() && services()!.length > 0) {
        <table class="w-full table-auto">
            <thead class="border-gray-100 border-y dark:border-white/[0.05]">
                <tr>
                    <th scope="col" class="table-label">
                        Service Name
                    </th>
                    <th scope="col" class="table-label hidden lg:table-cell">
                        Origin Type
                    </th>
                    <th scope="col" class="table-label hidden lg:table-cell">
                        WAF Enabled
                    </th>
                    <th scope="col" class="table-label hidden md:table-cell">
                        Status
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-divider">
                @for (item of services(); track $index) {
                <tr>
                    <td class="base-text py-3">
                        {{item.spec.name}}
                    </td>
                    <td class="base-text hidden lg:table-cell">
                        {{item.spec.originType}}
                    </td>
                    <td class="base-text hidden lg:table-cell">
                        {{item.spec.waf.enabled ? 'Yes' : 'No'}}
                    </td>
                    <td class="base-text hidden md:table-cell">
                        {{item.status!.status}}
                    </td>
                    <td class="base-text">
                        <div class="flex justify-end">
                            <a class="link-primary" [routerLink]="[routerLinkRoot, 'service', item.spec.name]">
                                View Details
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        } @else {
        <p class="text-gray-500">
            No services found. Click "New Service" to add your first service.
        </p>
        }

        }
        }
    </div>

    @if (modalSelector().type == 'create-service' && isOpen()) {
    <app-modal [isOpen]="isOpen()" (close)="closeModal()" className="max-w-[700px] p-6 lg:p-10">
        <app-service-create-form [projectId]="projectId" />
    </app-modal>
    }
</div>