<div class="card-title">
    New Host Alias
</div>

<div>
    @if (updating()) {
    <p class="text-green-600">
        Creating Host Alias...
    </p>
    }

    @if (error() && error()!.action === 'host-alias-add') {
    <p class="text-red-600">
        Error creating host alias: {{ error()!.message }}
    </p>
    }

    @if (updated()) {
    <p class="text-green-600">
        Host alias added successfully! Closing modal...
    </p>
    }

    @if (!updating() && !updated()) {
    <form [formGroup]="newHostAliasForm">

        <div class="py-3">
            <label for="type" class="form-label">Alias Type</label>
            <select id="type" formControlName="type" class="form-input-field">
                <option [ngValue]="'CNAME'">CNAME</option>
                <option [ngValue]="'ZONE'">Zone Delegation</option>
            </select>
            @if (newHostAliasForm.get('type')!.invalid && newHostAliasForm.get('type')!.touched) {
            @if (newHostAliasForm.get('type')!.hasError('required')) {
            <p class="text-red-600 text-xs pt-1">Alias type is required.</p>
            }
            }
        </div>

        @if (newHostAliasForm.get('type')!.value === 'ZONE') {
        <div class="py-3"> <label for="zone" class="form-label">Zone Name</label>

            <select id="zone" formControlName="zone" class="form-input-field">
                <option [ngValue]="null">Select zone</option>
                @for (zone of zones() ; track zone) {
                <option [value]="zone.spec.zone">{{ zone.spec.zone }}</option>
                }
            </select>

            @if(zones()?.length === 0) {
            <p class="text-red-600 text-xs pt-1">No Zones found in project. First you need to create a private zone.</p>
            }


            @if(newHostAliasForm.get('zone')?.invalid && newHostAliasForm.get('zone')?.touched) {
            <p class="text-red-600 text-xs pt-1">Zone name is required for zone delegation and must be a valid domain
                name.</p>
            }
        </div>
        }

        <div class="py-3">
            <label for="name" class="form-label">Host Alias Domain (Optional)</label>
            <div class="flex w-full gap-1">
                <input formControlName="domain" placeholder="Enter host alias domain" class="form-input-field flex-1" />
                @if (newHostAliasForm.get('type')!.value == "ZONE") {
                <p class="flex-1 form-input-field bg-gray-200 dark:bg-gray-800">{{ newHostAliasForm.get('zone')!.value
                    }}</p>
                }
            </div>

            @if(newHostAliasForm.get('domain')?.invalid && newHostAliasForm.get('domain')?.touched) {
            <p class="text-red-600 text-xs pt-1">Host alias domain must be a valid domain name.</p>
            }
        </div>

        <div class="py-3">

            @if (newHostAliasForm.get('type')!.value === 'CNAME') {
            <p class="form-label text-s">
                Create a CNAME record pointing from the alias domain to your service's domain. This allows you to use a
                custom domain for your service. The following records are required to be added to your DNS provider:
            </p>
            @if (newHostAliasForm.get('domain')!.value != "") {
            <table class="w-full table-auto mt-5">
                <thead class="border-gray-100 border-y dark:border-white/[0.05]">
                    <tr>
                        <th scope="col" class="table-label">Domain</th>
                        <th scope="col" class="table-label">Type</th>
                        <th scope="col" class="table-label">Value</th>
                    </tr>
                </thead>
                <tbody class="table-divider">
                    <tr>
                        <td class="base-text py-3">{{ newHostAliasForm.get('domain')!.value }}</td>
                        <td class="base-text py-3">CNAME</td>
                        <td class="base-text py-3">{{ serviceDomain }}</td>
                    </tr>
                </tbody>
            </table>
            }
            }

            @if (newHostAliasForm.get('type')!.value === 'ZONE') {
            <p class="form-label text-s">
                Create NS records and A Glue records for zone deletaion. The zone itself must be registered with your
                project first.
            </p>
            <p class="form-label text-s font-light">
                The following steps and records are required to be added to your DNS provider:<br>

            </p>
            <ul class="list-disc pl-10">
                <li>
                    Subzone <span class="font-bold">{{ newHostAliasForm.get('zone')!.value }}</span> registered
                    with the platform
                </li>
                <li>
                    <span class="font-bold">NS</span> records pointing to our nameservers<br>
                </li>
                <li>
                    <span class="font-bold">A</span> records pointing to the platform's nameservers<br>
                </li>
            </ul>

            @if (newHostAliasForm.get('zone')!.value) {
            <table class="w-full table-auto mt-5">
                <thead class="border-gray-100 border-y dark:border-white/[0.05]">
                    <tr>
                        <th scope="col" class="table-label">Domain</th>
                        <th scope="col" class="table-label">Type</th>
                        <th scope="col" class="table-label">Value</th>
                    </tr>
                </thead>
                <tbody class="table-divider">
                    <tr>
                        <td class="base-text py-3">{{ newHostAliasForm.get('zone')!.value }}</td>
                        <td class="base-text py-3">NS</td>
                        <td class="base-text py-3">ns1.{{ newHostAliasForm.get('zone')!.value }}.</td>
                    </tr>
                    <tr>
                        <td class="base-text py-3">ns1.{{ newHostAliasForm.get('zone')!.value }}.</td>
                        <td class="base-text py-3">A</td>
                        <td class="base-text py-3">74.220.25.73</td>
                    </tr>
                </tbody>
            </table>
            }

            }

            @if (validating()) {
            <p class="text-blue-600 text-xs pt-1">Validation in progress...</p>
            }

            @if (validationError()) {
            <p class="text-red-600 text-xs pt-1">Validation error: {{ validationError() }}</p>
            }

            @if (newHostAliasForm.get('validated')!.value) {
            <p class="text-green-600 text-xs pt-1">Validation successful! You can now submit the form to add the host
                alias.</p>
            }

        </div>
    </form>

    <div class="flex justify-between">
        <button class="flex btn-primary my-4 text-center" [disabled]="newHostAliasForm.invalid" (click)="onSubmit()">Add
            Host Alias</button>
        <button class="flex btn-primary my-4 text-center" (click)="validate()">Validate
            Settings</button>
    </div>
    }

</div>