<app-page-breadcrumb pageTitle="Dashboard" />
<div class="base-card">
  <p class="card-title">
    Profile Overview
  </p>
  @if (userInfo()) {
  <div>
    <p class="content-label">
      Name:
    </p>
    <p class="content-label-value">
      {{ userInfo()['name'] || userInfo()['preferred_username'] || 'N/A' }}
    </p>
  </div>
  <div>
    <p class="content-label">
      Email:
    </p>
    <p class="content-label-value">
      {{ userInfo()['email'] || 'N/A' }}
    </p>
  </div>
  } @else {
  <p class="content-label-value">User information not available...</p>
  }
</div>