<div class="base-card">
    <div class="flex justify-between">
        <h1 class="sm:w-100 flex-1 card-title">
            {{ project()!.spec.name || 'N/A' }}
        </h1>
        <h2 class="card-title hidden md:block">Created: {{ project()!.metadata.creationTimestamp || 'N/A' | date }}</h2>
    </div>

    <h2 class="card-title md:hidden">Created: {{ project()!.metadata.creationTimestamp || 'N/A' | date }}</h2>


    @if (loading()) {
    <app-placeholder></app-placeholder>
    } @else {

    @if (error() && error()!.action == 'list') {
    <p class="text-red-600">
        Error loading projects: {{ error()!.message }}
    </p>
    } @else {

    <p class="base-text pb-5">
        {{ project()!.spec.description || 'N/A' }}
    </p>

    <router-outlet></router-outlet>

    }
    }
</div>